BRAPI_TOKEN=replace-with-your-token
SYMBOLS=PETR4,VALE3,ITUB4
PORT=3000
NEWS_FEEDS=Brasil|https://news.google.com/rss/search?q=mercado%20financeiro%20Brasil%20B3&hl=pt-BR&gl=BR&ceid=BR:pt-419,Internacional|https://news.google.com/rss/search?q=global%20markets%20stocks%20economy&hl=en-US&gl=US&ceid=US:en
BLOOMBERG_MARKETS_URL=https://www.bloomberglinea.com.br/mercados/
GOOGLE_FINANCE_ENABLED=true
GOOGLE_FINANCE_EXCHANGE=BVMF
B3_MARKET_DATA_URL=
B3_MARKET_DATA_KEY=
B3_MARKET_DATA_PROVIDER=
